obstacle_range: 2.5
raytrace_range: 3.0
inflation_radius: 0.55

# Standard pioneer3dx footprint (meters)
footprint: [ [0.254, -0.0508], [0.1778, -0.0508], [0.1778, -0.1778], [-0.1905, -0.1778], [-0.254, 0], [-0.1905, 0.1778], [0.1778, 0.1778], [0.1778, 0.0508], [0.254, 0.0508] ]

# Generous footprint for safety
# footprint: [ [0.16, 0.19], [0.26, 0.0], [0.16, -0.19], [-0.18, -0.19], [-0.26, 0.0], [-0.18, 0.19] ]

footprint_padding: 0.0

transform_tolerance: 0.2
map_type: costmap

observation_sources: laser_scan_sensor

laser_scan_sensor: {sensor_frame: pioneer/hokuyo_front_link, data_type: LaserScan, topic: /pioneer/frontscan, marking: true, clearing: true, expected_update_rate: 0.2}

#point_cloud_sensor: {sensor_frame: frame_name, data_type: PointCloud, topic: topic_name, marking: true, clearing: true}
