<?xml version="1.0"?>
<robot name="pioneer_2wd" xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="body_color">
    <color rgba="1 0.2 0 1" />
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="-0.045 0 0.148" rpy="0 0 0" />
      <geometry>
        <mesh>
          <uri>$(find uml_3d_race)/resources/models/nerpio_2wd/meshes/chassis.stl</uri>
          <mesh filename="package://p2os_urdf/meshes/p3at_meshes/front_sonar.stl"/>
        </mesh>
      </geometry>
      <cast_shadows>1</cast_shadows>
      <transparency>0</transparency>
      <material name="body_color" />
    </visual>
  </link>
  <gazebo>

  </gazebo>

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <legacyModeNS>1</legacyModeNS>
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>
</robot>
