<?xml version="1.0" ?>
<model>
    <name>Pioneer_4wd</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Peter Gavriel</name>
        <email>pgavriel@mail.middlesex.edu</email>
    </author>
    <description>Four wheeled pioneer with 2 laser sensors and kinect</description>
</model>
