<?xml version="1.0" ?>
<model>
    <name>caution_10cm_pillar</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Peter Gavriel</name>
        <email>pgavriel@mail.middlesex.edu</email>
    </author>
    <description>10cm x 10cm Pillar</description>
</model>
