<?xml version="1.0" ?>
<model>
    <name>caution_100cm_block</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Peter Gavriel</name>
        <email>pgavriel@mail.middlesex.edu</email>
    </author>
    <description>100cm x 95cm Block</description>
</model>
